@font-face{
	font-family:'futura';
	src:url('../fonts/futurastdmedium.eot');
	src:url('../fonts/futurastdmedium.eot?#iefix') format('embedded-opentype')
		,url('../fonts/futurastdmedium.woff') format('woff')
		,url('../fonts/futurastdmedium.ttf') format('truetype')
		,url('../fonts/futurastdmedium.svg#') format('svg');
	font-weight:normal;
	font-style:normal;
}
.head {
	height: 50px;
	color: #275937;
	font-family: futura, Verdana, Geneva, sans-serif;
	font-weight:normal;
}
.head a {
	margin-top: 8px;
	margin-left: 10px;
	float: left;
}
.head span {
	margin-top: 15px;
	float: right;
	margin-right: 20px;
}

.navbar-nav {
	color: #275937;
	font-family: futura, Verdana, Geneva, sans-serif;
}

a {
	color: #39870c;
}

a:hover {
	color: #275937;
}

.btn-primary {
  background-image: -webkit-linear-gradient(top, #39870c 0%, #275937 100%);
  background-image:      -o-linear-gradient(top, #39870c 0%, #275937 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#39870c), to(#275937));
  background-image:         linear-gradient(to bottom, #39870c 0%, #275937 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#39870c', endColorstr='#275937', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  background-color: #39870c;
  border-color: #275937;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #275937;
  background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #275937;
  border-color: #275937;
}
.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary[disabled] {
  background-color: #275937;
  background-image: none;
}

.btn,
.panel:active,
.panel.active {
  background-color: #fff;
  border-color: #275937;
  }
.panel-heading,
.form-control {
  border-radius: 0px;
}

.panel-primary  > .panel-heading{
  background-color: #39870c;
	font-family: futura, Verdana, Geneva, sans-serif;
}

.panel-primary {
	border-color: #275937;
}

.highlight {
	background-color:#b3ccff;
	border-radius:6px;
}

.nav-tree ul li.has-child a.highlightActive {
	font-size:15px;
}
